

.row {
	margin-top:30px;
}

#header{
	background-color: #3e5459;
	border-color: #3e5459;
}

.navbar {
    border-radius: 0;
}

#logoImage{
	font-family: Arial;
	font-size:32px;
	max-height:70px;
}

#medumoLine{
	position:absolute;
	top:33px;
	z-index: 1;
	fill: #5c9fd8;

}

.marginBottom25{
	margin-bottom:25px;
}

.marginTop5{
	margin-top:5px;
}

.marginTop15{
	margin-top:15px;
}

.autoMargin{
	display:table;
	margin-right:auto;
	margin-left:auto;
}

.errorMessage{
	color:#286090;
	font-weight:bold;
	margin-bottom:5px;
	font-size:16px;
}

#errorMessages{
	padding-bottom:15px;
}

.errorBox{
	margin-top:10px;
}

.viewSwitchButton{
	border: 1px solid #286090;
	background-color: #FFF;
	color: #286090;
}

.noSpaceLeft{
	padding-left: 0;
	margin-left: 0;
}

.noSpaceRight{
	padding-right:0;
	margin-right:0;
}

.noSpace{
	padding: 0;
	margin: 0;
}

.form-control{
    background-color: #F0F0F0;
    box-shadow: none;

}

.form-control:focus {
	 background-color: #F9F9F9;
	 box-shadow: none;
}


.funkyradio div {
    clear: both;
    /*margin: 0 50px;*/
    overflow: hidden;
}
.funkyradio label {
    /*min-width: 400px;*/
    width: 100%;
    border-radius: 3px;
    border: 0px solid #D1D3D4;
    font-weight: normal;
    color: #707070;
}

.funkyradio label:hover {
    background-color: #F9F9F9;
    color: #313131;

}

.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
    display: none;
}
.funkyradio input[type="radio"]:empty ~ label, .funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before, .funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content:'';
    width: 2.5em;
    background: #F0F0F0;
    border-radius: 3px 3px 3px 3px;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #F0F0F0;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}
.funkyradio input[type="radio"]:checked ~ label:before, .funkyradio input[type="checkbox"]:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}
.funkyradio input[type="radio"]:checked ~ label, .funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}
.funkyradio input[type="radio"]:focus ~ label:before, .funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio-info input[type="radio"]:checked ~ label:before, .funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #73BAF3;
}
